.Login {
	padding: 60px 0;
	border-radius: 20px;
	box-shadow: 2px 2px 35px 2px grey;
	max-width: 30%;
	margin: 10% auto;
}

.Login form {
	margin: 0 auto;
	max-width: 320px;
}

.Signup {
	padding: 60px 0;
	border-radius: 20px;
	box-shadow: 2px 2px 35px 2px grey;
	max-width: 40%;
	margin: 10% auto;
}

.Signup form {
	margin: 0 auto;
	max-width: 90%;
}
